name: Generar noticias Última Hora

on:
  schedule:
    - cron: "*/1 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          pip install feedparser

      - name: Ejecutar generador de noticias
        run: |
          python backend/generate_news.py

      - name: Guardar cambios
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add backend/news.json
          git commit -m "Actualización automática de noticias" || echo "Sin cambios"
          git push