name: Generar noticias Última Hora

on:
  schedule:
    - cron: "*/1 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4
        with:
          persist-credentials: true
          fetch-depth: 0

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          pip install feedparser

      - name: Ejecutar generador de noticias
        run: |
          python backend/generate_news.py

      - name: Guardar cambios
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git pull --rebase

          git add backend/news.json

          if git diff --cached --quiet; then
            echo "Sin cambios en noticias"
            exit 0
          fi

          git commit -m "Actualización automática de noticias"
          git push